@use '@styles/colors' as *;
@use '@styles/typography' as *;
@use '@styles/variables' as *;

.option {
    @include text($size: 20px);

    padding: 4px 8px;

    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: $snow-dark;
        color: $fog-light;
    }

    &:active {
        background-color: $olive-light;
    }

    &.is-active {
        background-color: red;
    }
}