@use '@styles/colors' as *;
@use '@styles/typography' as *;
@use '@styles/variables' as *;

.input__password {
  position: relative;
}

.button__eye {
  position: absolute;
  right: 8px;
  top: 32px;

  line-height: 0;

  & svg {
    stroke: $fog-light;
    transition: $transition;
    cursor: pointer;
  
    &:hover {
      stroke: $fog-default;
    }
  
    &:active {
      stroke: $olive-default;
    }
  }
}