@use '@/ui/Button/buttons' as *;

.parent {
  width: 25px;
  height: 25px;

}
.parent svg {
  width: 100%;
  fill: red;
  stroke: green;
  color: blue;
}

.form {
  max-width: 600px;
  width: 100%;
}

.box {
  background-color: color('blood', 'dark')
}

.button {
  @include button-primary();
}