$bff-turquoise: #007F95;
$bff-white: #f4f4f4;
$bff-light-navy: #8EAAD8;
$bff-light-green: #CFE7EB;
$bff-active-green: #A6D4DD;
$bff-hover-green: #83C0CA;
$bff-dark-purple: #51526C;
$bff-smooth-gray: #222831;
$bff-success: #44D09B;
$bff-warning: #E9B412;
$bff-error: #C00B0B;