$snow-default: #FEFEFF;
$snow-dark: #E9EBED;

$fog-default: #6A6E74;
$fog-light: #9DA0A6;
$fog-transparent-50: #BEC2C6;

$dark-blue-default: #1a2331;
$dark-blue-dark: #0E151A;

$sky-default: #0068BC;

$olive-default: #52B67F;
$olive-light: #DDF2C8;
$olive-dark: #186D3E;

$blood-default: #F1553E;
$blood-light: #ff8f8d;
$blood-dark: #AE230E;

$sun-default: #FDDB2E;

$colors: (
  snow-default: #FEFEFF,
  snow-dark: #E9EBED,

  fog-default: #6A6E74,
  fog-light: #9DA0A6,
  fog-transparent-50: #BEC2C6,

  dark-blue-default: #1a2331,
  dark-blue-dark: #0E151A,

  sky-default: #0068BC,

  olive-default: #52B67F,
  olive-light: #DDF2C8,
  olive-dark: #186D3E,

  blood-default: #F1553E,
  blood-light: #ff8f8d,
  blood-dark: #AE230E,

  sun-default: #FDDB2E,
);

@function color($name, $modifier: 'default') {
  @return map-get($colors, #{$name}-#{$modifier})
}

// red-default
// red-light  or red-hover
// red-dark   or red-active
// red-transparent