@use '@styles/colors' as *;
@use '@styles/typography' as *;
@use '@styles/variables' as *;

.select {
  &__dropdown {
    height: 0;
    visibility: hidden;
  }
  &__dropdown.is-active {
    height: 300px;
    visibility: visible;
  }

}